extends layout
block content
  .gallery-wrapper
    h1.gallery-title= galleryTitle
    .gallery-description= galleryDescription
    .horizontal-container
      .breadcrumbs
        span.breadcrumb &raquo;
        a.breadcrumb(href='/') Home
        if showAboutPage
          a.breadcrumb(href='/about.html') [about]
    .warning
      h3 Oops! that page was not found
      a.breadcrumb(href='/') Go Home
