doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href=`${config.assetPath}/lightgallery.js/css/lightgallery.min.css`)
    link(rel="stylesheet" href=`${config.assetPath}/css/style.css`)

  body
    header
      nav

    block content

    footer Powered by <a href="https://github.com/brendannee/noobgallery">noobgallery</a>
      
