body {
  background-color: #222222;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.gallery-wrapper {
  margin: 25px;
}

.gallery-title {
  margin: 30px 10px 10px;
  color: #ffffff;
}

.breadcrumbs {
  color: #ddd;
  margin: 0 10px 15px;
}

.breadcrumb {
  color: #ddd;
  padding-right: 8px;
}

a.breadcrumb {
  color: #ddd;
  text-decoration: none;
}

a.breadcrumb:hover {
  color: #ddd;
  text-decoration: underline;
}

.gallery .grid-item {
  margin-bottom: 10px;
}

.gallery .grid-item .photo-link {
  border: 2px solid #FFF;
  border-radius: 2px;
  display: block;
  overflow: hidden;
}

.gallery.gallery-index .grid-item .photo-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.gallery .grid-item .photo-link > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  display: block;
}

.gallery .grid-item a.photo-link:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.gallery.gallery-index .grid-item a.photo-link-title {
  display: block;
  color: #222222;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
  background: #FFFFFF;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
