body {
  background-color: #000;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.warning {
  text-align: center;
  margin-top: 100px;
}

.gallery-wrapper {
  margin: 25px;
  min-height: 600px;
}

.gallery-title {
  margin: 15px 0 0;
}

.gallery-description {
  color: #ddd;
  font-size: 16px;
}

.breadcrumbs {
  color: #ddd;
}

.breadcrumb {
  color: #ddd;
  padding-right: 8px;
}

a.breadcrumb {
  color: #ddd;
  text-decoration: none;
}

a.breadcrumb:hover {
  color: #ddd;
  text-decoration: underline;
}

.gallery {
  margin-top: 25px;
}

/* gallery layout pre-masonry load */
.gallery .grid-item {
  margin-right: 10px;
  float: left;
}

/* gallery layout post-masonry load */
.gallery.masonry .grid-item {
  margin-right: 0;
  float: none;
}

/* 1 columns for mobile */
.gallery .grid-sizer,
.gallery .grid-item {
  width: 100%;
  margin-bottom: 10px;
}

.gallery .gutter-sizer {
  width: 0%;
}

@media screen and (min-width: 768px) {
  /* 2 columns for small screens */
  .gallery .grid-sizer,
  .gallery .grid-item {
    width: 49.5%;
  }

  .gallery .grid-item--width2 {
    width: 100%;
  }

  .gallery .gutter-sizer {
    width: 1%;
  }
}

@media screen and (min-width: 992px) {
  /* 3 columns for medium screens */
  .gallery .grid-sizer,
  .gallery .grid-item {
    width: 32.66%;
  }

  .gallery .grid-item--width2 {
    width: 66.33%;
  }

  .gallery .gutter-sizer {
    width: 1%;
  }
}

@media screen and (min-width: 1200px) {
  /* 4 columns for large screens */
  .gallery .grid-sizer,
  .gallery .grid-item {
    width: 24.25%;
    margin-bottom: 15px;
  }

  .gallery .grid-item--width2 {
    width: 49.5%;
  }

  .gallery .gutter-sizer {
    width: 1%;
  }
}

@media screen and (min-width: 1600px) {
  /* 5 columns for larger screens */
  .gallery .grid-sizer,
  .gallery .grid-item {
    width: 19.2%;
    margin-bottom: 18px;
  }

  .gallery .grid-item--width2 {
    width: 39.4%;
  }

  .gallery .gutter-sizer {
    width: 1%;
  }
}

.gallery .grid-item .photo-link {
  border: 2px solid #FFF;
  border-radius: 2px;
  display: block;
  overflow: hidden;
}

.gallery.gallery-index .grid-item .photo-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.gallery .grid-item .photo-link > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  display: block;
  width: 100%;
}

.gallery .grid-item a.photo-link:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.gallery.gallery-index .grid-item a.photo-link-title {
  display: block;
  color: #222222;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 20px;
  background: #FFFFFF;
  font-weight: bold;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

footer {
  text-align: center;
  color: #888;
  padding: 15px 0;
  clear: both;
}

footer a {
  color: #888;
}
